@import "../../common/color.scss";

.pagination {
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.pagination_item {

    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    text-align: center;
}

.next,
.prev {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
    margin: 5px;
}

.selected {
    background-color: rgba(32, 64, 128, 1);
    color: #fff;
}