$primaryColor: #00b3ff;
$secondaryColor: #bdbdbd;

$primaryFontColor: #090A0A;
$secondaryFontColor: #72777A;

$buttonColor: #204080;
$buttonHoverColor: #4F75C2;

$border-color: #484848;
$footer-color: #294E98B8;

$orderBy-color: #E5E5E5;